#  Python Sets â€“ Practice Questions

### Q1
Create a set from the list below and print only the unique values.

```python
data = [10, 20, 20, 30, 40, 40]
```

In [1]:
# write your code here
data = [10, 20, 20, 30, 40, 40]
unique_values = set(data)
print(unique_values)

{40, 10, 20, 30}

### Q2
What will be the output? Explain why.

```python
s = {1, 2, 3, 3, 2}
print(s)
```

In [2]:
# write your code here
s = {1, 2, 3, 3, 2}
print(s)  # set does not contain duplicate values

{1, 2, 3}

### Q3
Create an empty set and add numbers from 1 to 5 using a loop.

In [3]:
# write your code here
s = set()
for i in range(1,6):
  s.add(i)
print(s)

{1, 2, 3, 4, 5}

### Q4
Why does this code give an error? Fix it.

```python
s = {}
s.add(10)
```

In [5]:
# write your code here
s= set ()
s.add(10)
print(s)

{10}

### Q5
Given:
```python
A = {2, 4, 6, 8}
B = {4, 8, 12}
```
Find Union, Intersection, A-B

In [6]:
# write your code here
A = {2, 4, 6, 8}
B = {4, 8, 12}

union_set = A.union(B)
print("union:", union_set)

intersection_set= A.intersection(B)
print("intersection:" , intersection_set)

difference_set =A.difference(B)

print("A-B:", difference_set)

union: {2, 4, 6, 8, 12}
intersection: {8, 4}
A-B: {2, 6}

### Q6
Check whether 15 exists in the set {5, 10, 15, 20}.

In [ ]:
# write your code here

if 15 in {5, 10, 15, 20}:
  print("mil gya")
else:
  print("nhi mil gya")

True

### Q7
Remove element 30 safely from {10, 20, 30, 40}.

In [7]:
# write your code here
s={10,20,30,40}
s.discard(30)
print(s)

{40, 10, 20}

### Q8
Count unique elements in:
```python
nums = [1, 2, 2, 3, 4, 4, 5]
```

In [8]:
# write your code here
nums = [1, 2, 2, 3, 4, 4, 5]
unique_nums = set(nums)
print(len(unique_nums))

5

### Q9
What will be the output?
```python
s = {10, 20, 30}
s.add(20)
print(len(s))
```

In [9]:
# write your code here
s = {10, 20, 30}
s.add(20)
print(len(s))

3

### Q10
Can a set contain a list? Why?
```python
s = {1, 2, [3, 4]}
```

### Q11
Convert {100, 200, 300} into list and print first element.

In [ ]:
# write your code here

set1={100, 200, 300}

print(set1)

l1=list(set1)


l1[0]

{200, 100, 300}

200

### Q12
Students in two classes:   #union
```python
class_A = {'Aman','Riya','Karan','Neha'}
class_B = {'Neha','Simran','Aman'}
```

In [10]:
# write your code here
class_A = {'Aman','Riya','Karan','Neha'}
class_B = {'Neha','Simran','Aman'}
union_set= class_A.union(class_B)
print(union_set)

{'Simran', 'Riya', 'Karan', 'Aman', 'Neha'}

### Q13
Find unique characters in:
```python
text = 'programming'
```

In [11]:
# write your code here
text = 'programming'
unique_char = set(text)
print(unique_char)

{'p', 'r', 'g', 'n', 'a', 'm', 'o', 'i'}

### Q14
Remove duplicate words from:
```python
sentence = 'python is easy and python is powerful'
```

In [12]:
# write your code here

# first use split

# and then use set to remove duplicate
sentence = 'python is easy and python is powerful'
words =sentence.split()
unique_words = set(words)
print(unique_words)

{'and', 'python', 'is', 'easy', 'powerful'}

### Q15
What is the output?
```python
s = set('hello')
print(s)
```

In [13]:
# write your code here
s = set('hello')
print(s)

{'e', 'l', 'h', 'o'}